.weatherforecast .day {
  padding-left: 0;
  padding-right: 25px;
}

.weatherforecast .weather-icon {
  padding-right: 30px;
  text-align: center;
}

.weatherforecast .min-temp {
  padding-left: 20px;
  padding-right: 0;
}

.weatherforecast .rain {
  padding-left: 20px;
  padding-right: 0;
}

.weatherforecast td.colored .min-temp {
    color: #BCDDFF;
}

.weatherforecast td.colored .max-temp {
    color: #FF8E99;
}

.wi-cloudy:before {
	content: url("/css/icon/26.png");
}

.weatherforecast .wi-cloudy:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/26.png");
	background-size: 87.5px 60px;
}

.wi-cloudy-windy:before {
	content: url("/css/icon/23.png");
}

.weatherforecast .wi-cloudy-windy:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/23.png");
	background-size: 87.5px 60px;
}

.wi-showers:before{
	content: url("/css/icon/9.png"):
}

.weatherforecast .wi-showers:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/9.png");
	background-size: 87.5px 60px;
}

.wi-rain:before{
	content: url("/css/icon/12.png");
}

.weatherforecast .wi-rain:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/12.png");
	background-size: 87.5px 60px;
}

.wi-thunderstorm:before{
	content: url("/css/icon/3.png");
}

.weatherforecast .wi-thunderstorm:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/3.png");
	background-size: 87.5px 60px;
}

.wi-snow:before{
	content: url("/css/icon/14.png");
}

.weatherforecast .wi-snow:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/14.png");
	background-size: 87.5px 60px;
}

.wi-fog:before{
	content: url("/css/icon/22.png");
}

.weatherforecast .wi-fog:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/22.png");
	background-size: 87.5px 60px;
}

.wi-night-clear:before{
	content: url("/css/icon/31.png");
}

.weatherforecast .wi-night-clear:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/31.png");
	background-size: 87.5px 60px;
}

.wi-night-showers:before{
	content: url("/css/icon/45.png");
}

.weatherforecast .wi-night-showers:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/45.png");
	background-size: 87.5px 60px;
}

.wi-night-rain:before{
	content: url("/css/icon/45.png");
}

.weatherforecast .wi-night-rain:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/45.png");
	background-size: 87.5px 60px;
}

.wi-night-thunderstorm:before{
	content: url("/css/icon/47.png");
}

.weatherforecast .wi-night-thunderstorm:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/47.png");
	background-size: 87.5px 60px;
}

.wi-night-snow:before{
	content: url("/css/icon/46.png");
}

.weatherforecast .wi-night-snow:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/46.png");
	background-size: 87.5px 60px;
}

.wi-night-alt-cloudy-windy:before{
	content: url("/css/icon/24.png");
}

.weatherforecast .wi-night-alt-cloudy-windy:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/24.png");
	background-size: 87.5px 60px;
}

.wi-day-cloudy:before {
	content: url("/css/icon/28.png");
}

.weatherforecast .wi-day-cloudy:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/28.png");
	background-size: 87.5px 60px;
}

.wi-day-sunny:before {
	content: url("/css/icon/36.png");
}

.weatherforecast .wi-day-sunny:before {
	content: "";
	height:60px;
	width:87.5px;*/
	display: block; 
	background-image : url("/css/icon/36.png");
	background-size: 87.5px 60px;*/
}

.wi-night-cloudy:before {
	content: url("/css/icon/27.png");
}

.weatherforecast .wi-night-cloudy:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/27.png");
	background-size: 87.5px 60px;
}

.wi-night-rain:before {
	content: url("/css/icon/45.png");
}

.weatherforecast .wi-night-rain:before{
	content: "";
	height:60px;
	width:87.5px;
	display: block; 
	background-image : url("/css/icon/45.png");
	background-size: 87.5px 60px;
}

